<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <!-- Standard Payment Method -->
            <paypercut_card>
                <model>Paypercut\Payment\Model\PaymentMethod</model>
                <title>Paypercut Payment</title>
                <group>paypercut</group>
                <payment_action>authorize_capture</payment_action>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <order_status>pending_payment</order_status>
                <environment>sandbox</environment>
                <allowspecific>0</allowspecific>
                <sort_order>10</sort_order>
                <api_key />
                <secret_key />
                <webhook_secret />
                <debug>0</debug>
                <refund_action>none</refund_action>
            </paypercut_card>
            <!-- Vault for Saved Cards (Subscriptions) -->
            <paypercut_vault>
                <model>PaypercutVaultFacade</model>
                <title>Stored Cards (Paypercut)</title>
                <active>0</active>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <group>paypercut</group>
            </paypercut_vault>
            <!-- BNPL Method -->
            <paypercut_bnpl>
                <model>Paypercut\Payment\Model\BnplPaymentMethod</model>
                <title>Paypercut - Pay in installments</title>
                <group>paypercut</group>
                <payment_action>authorize</payment_action>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <order_status>pending_payment</order_status>
                <allowspecific>0</allowspecific>
                <sort_order>11</sort_order>
                <min_order_total>100</min_order_total>
                <max_order_total>10000</max_order_total>
                <installments>3,6,12</installments>
                <show_installment_preview>1</show_installment_preview>
            </paypercut_bnpl>
            <!-- Subscription Configuration -->
            <paypercut_subscription>
                <active>0</active>
                <title>Subscribe &amp; Save</title>
                <description>Subscribe to receive this product regularly and save!</description>
                <billing_interval>month</billing_interval>
                <billing_interval_count>1</billing_interval_count>
                <billing_day></billing_day>
                <collection_method>charge_automatically</collection_method>
                <enable_trial>0</enable_trial>
                <trial_days>14</trial_days>
                <trial_missing_payment>cancel</trial_missing_payment>
                <cancel_at_period_end>1</cancel_at_period_end>
                <allow_customer_cancel>1</allow_customer_cancel>
                <allow_customer_pause>1</allow_customer_pause>
                <renewal_reminder_days>3</renewal_reminder_days>
                <failed_payment_notify>1</failed_payment_notify>
            </paypercut_subscription>
        </payment>
    </default>
</config>
